@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.status {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.data {
  color: #2d3a86;
}
.grid {
  gap: 0;
}
@media only screen and (max-width: 1024px) {
  .data {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 924px) {
  .data {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .status {
    padding: 2rem;
  }
  .num {
    font-size: 4rem;
  }
  .des {
    font-size: 3.4vw;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .bigbox1,
  .bigbox2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .boxes {
    padding: 1rem;
  }
  .grid {
    gap: 0;
  }
}

@media only screen and (max-width: 425px) {
  .data {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
